{% extends './layout.html' %}

{% load static %}

{% block title %}
	{{ listing.title }}
{% endblock %}

{% block body %}
	<div class="listingPageContainer">
		<div class="columnsContainer">
			<div class="col1">
				<h2 class="title">Listing: {{ listing.title }}</h2>
	
				{% if user.is_authenticated %}
					<form action="{% url 'auctions:watchlistToggle' listing.id %}" method='post'>
						{% csrf_token %}
						<button type="submit" class="watchListButton">
							{% if listingIsInWatchlist %}
								Remove from WatchList
							{% else %}
								Add to Watchlist
							{% endif %}
						</button>
					</form>
				{% endif %}
				<br>
				
				{% if listing.imageUrl %}
					<img class="listingImg" src={{ listing.imageUrl }} alt={{ listing.title }}>
				{% else %}
					<img class="listingImg" src="{% static 'auctions/Images/No_image_available.png' %}">
				{% endif %}
	
				<p class="description">Description: {{ listing.description }}</p>
	
				<div class="listingPrice">
					<strong>Current price: ${{ listing.currentPrice }}</strong>
				</div>
	
				<h3 class="title">Details</h3>
				<ul>
					<li>Listed by: {{ listing.author }}</li>
					
					{% if listing.category %}
						<li>Category: {{ listing.category }}</li>
					{% else %}
						<li>Category: No Category</li>
					{% endif %}
				</ul>
			</div>
			
			<div class="col2">
				<h2 class="title">Bids</h2>
				<p>
					{{ listing.bids.all|length }} bids so far.
					
					{% if currentUser ==  listing.lastBidAuthor %}
						Your bid is the current bid.
					{% else %}
						Current bid is from {{ listing.lastBidAuthor }}
					{% endif %}
				</p>
				
				{% if user.is_authenticated %}
					<form action="{% url 'auctions:listingPage' listing.id %}" method="post">
						{% csrf_token %}

						<div class="form-group">
							{{ BidForm }}
						</div>

						{{ additionalErrorMessage|safe }}
		
						<div class="form-group">
							<button class="btn btn-primary" name="{{ BidForm.prefix }}" type="submit">
								Place bid
							</button>
						</div>
					</form>
				{% else %}
					To bid you need to stay <a href="{% url 'auctions:login' %}">logged in</a>
				{% endif %}

				{% if currentUser == listing.author %}
					<div class="dangerZone">
						<h3 class="title">Danger zone</h3>
						<div class="closeBidConfirmation">
							<h5>Do you want to <strong>Close this auction listing?</strong></h5>
							<p>The last bidder will be the winner</p>
							<form action="{% url 'auctions:closeListing' listing.id %}" method="post">
								{% csrf_token %}

								<button type="submit" class="btn btn-outline-danger">Close bid</button>
							</form>
						</div>
					</div>
				{% endif %}
			</div>
		</div>

		<hr>

		<div class="commentSection">
			<h3 class="commentSection__title">Comment Section</h3>
			
			{% for comment in listing.comments.all %}
				<div class="comment">
					<h4 class="comment__author">{{ comment.commentAuthor }} says</h4>
					<p class="comment__content">{{ comment.content }}</p>
				</div>
			{% empty %}
				<p class="no_comments_yet">No comments yet...</p>
			{% endfor %}

			{% if user.is_authenticated %}
				<form action="{% url 'auctions:listingPage' listing.id %}" method="post">
					{% csrf_token %}
					
					{{ CommentForm }}

					<button class="btn btn-primary postComment" name="{{ CommentForm.prefix }}" type="submit">
						Post Comment
					</button>
				</form>
			{% else %}
				<em>
					To add a comment you need to stay <a href="{% url 'auctions:login' %}">logged in</a>
				</em>
			{% endif %}
		</div>
	</div>
{% endblock %}
