{% extends './layout.html' %}

{% load static %}

{% block title %}
	Watchlist
{% endblock %}

{% block body %}
	<div class="watchlistPageContainer">
		<h2>Watchlist</h2>
		
		<ul class="auctionListings">
			{% for item in watchlist %}
				<li class="auction">
					{% if item.auction.imageUrl %}
						<img class="auctionImg" src={{ item.auction.imageUrl }} alt={{ item.auction.title }}>
					{% else %}
						<img class="auctionImg" src="{% static 'auctions/Images/No_image_available.png' %}">
					{% endif %}
					
					<div class="textRelated">
						<a href="{% url 'auctions:listingPage' item.auction.id %}">
							<h3 class="auctionTitle">{{ item.auction.title }}</h3>
						</a>

						{% if item.auction.isClosed %}
							<h3 class="alert alert-success">Closed. You Won!</h3>
						{% else %}
							<strong>Price:</strong> ${{ item.auction.currentPrice }} <br>
							<p>{{ item.auction.description }}</p>
							<em>Created {{ item.auction.createdAt }}</em>
						{% endif %}
					</div>
				</li>

				{% empty %}
					<li class="alert alert-primary">Your watchlist is empty, try adding some items</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
