.categoriesPage {
	
	.title {
		margin-bottom: 0.4em;
	}
	
	.formChooseCategory {
		display: flex;
		justify-content: center;
		align-items: center;

		.custom-select {
			width: 60%;
			margin: 1em;
		}
	}
}
