* {
	margin: 0;
	padding: 0;
}

// colors
$lightGray: rgb(231, 231, 231);
$gray: rgb(153, 153, 153);
$darkGray: rgb(85, 85, 85);

body {
	margin: 0;
	padding: 0;
}

p {
	color: $darkGray;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.6em;
}
