* {
	margin: 0;
	padding: 0;
}

// colors
$lightGray: rgb(231, 231, 231);
$gray: rgb(153, 153, 153);
$darkGray: rgb(85, 85, 85);

// default designs 
%rounded_window {
	padding: 1em;
	border: 0.125em solid rgba(0, 0, 0, 0.15);
	border-radius: 0.5em;
}

body {
	margin: 0;
	padding: 0;
}

p {
	color: $darkGray;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.6em;
}
