.listingPageContainer {
	.columnsContainer {
		display: flex;
		justify-content: space-evenly;
		
		.title {
			margin-bottom: 0.4em;
		}
	
		.watchListButton {
			color: #FFF;
			padding: 0.2em;
			background-color: $gray;
			border: none;
			border-radius: 0.2em;
	
			&:hover {
				background-color: lighten($gray, 5);
			}
		}
		
		.listingImg {
			margin: 1.6em;
			max-width: 32em;
			max-height: 16em;
		}
	
		.description {
			font-style: italic;
		}
	
		.listingPrice {
			font-size: 1.6em;
			margin-bottom: 1em;
		}

		.dangerZone {
			display: block;

			.closeBidConfirmation {
				@extend %rounded_window;
				border-color: #ed533f;
			}
		}
	}

	.commentSection {
		@extend %rounded_window;
		display: block;
		width: 70%;
		margin: auto;
		margin-bottom: 4.6em;
		background-color: $lightGray;

		.commentSection__title {
			margin-bottom: 0.6em;
		}

		.comment {
			@extend %rounded_window;
			padding: 0.6em;
			background-color: #fdfdfd;

			&:not(:last-child) {
				margin-bottom: 0.4em;
			}
			
			&__author {
				margin-bottom: 0.2em;
			}

			&__content {
				margin: 0;
			}
		}

		.no_comments_yet {
			font-style: italic;
		}

		.newComment {
			@extend %rounded_window;
			border-color: $gray;
			width: 100%;
		}

		.postComment {
			margin-top: 0.4em;
			margin-left: 85%;
		}
	}
}
