* {
  margin: 0;
  padding: 0;
}

.listingPageContainer .commentSection .newComment, .listingPageContainer .commentSection .comment, .listingPageContainer .commentSection {
  padding: 1em;
  border: 0.125em solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
}

body {
  margin: 0;
  padding: 0;
}

p {
  color: #555555;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.6em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em 1.6em;
  background-color: #e7e7e7;
}

.userStatus {
  background: #FFF;
  padding: 0.6em;
  border-radius: 0.3em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}

#appTitle {
  margin: 0;
  font-style: italic;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.nav-item:not(:last-child) {
  margin-right: 0.5em;
}
.nav-link {
  color: black;
  font-weight: 600;
  border-radius: 0.3em;
  border-bottom: 0.125em solid #999999;
  text-transform: uppercase;
  background-color: #999999;
  transition: all 250ms ease-in-out;
}
.nav-link:hover {
  color: #e6e6e6;
  border-bottom-color: #222222;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 0.5em;
  }
}
.auctionListings {
  list-style: none;
}
.auctionListings .auction {
  display: flex;
  align-items: center;
  padding: 0.5em;
  min-height: 16em;
  border: 0.125em solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  box-shadow: 6px 0 12px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1024px) {
  .auctionListings .auction {
    flex-direction: column;
    justify-content: center;
  }
  .auctionListings .auction .auctionTitle {
    margin-bottom: 0.4em;
  }
}
.auctionListings .auction:not(:last-child) {
  margin-bottom: 1em;
}
.auctionListings .auction .auctionImg {
  max-width: 16em;
}
.auctionListings .auction .textRelated {
  padding-left: 1em;
  font-family: normal "Times New Roman", sans-serif;
}

.listingPageContainer .columnsContainer {
  display: flex;
  justify-content: space-evenly;
}
.listingPageContainer .columnsContainer .title {
  margin-bottom: 0.4em;
}
.listingPageContainer .columnsContainer .watchListButton {
  color: #FFF;
  padding: 0.2em;
  background-color: #999999;
  border: none;
  border-radius: 0.2em;
}
.listingPageContainer .columnsContainer .watchListButton:hover {
  background-color: #a6a6a6;
}
.listingPageContainer .columnsContainer .listingImg {
  margin: 1.6em;
  max-width: 32em;
  max-height: 16em;
}
.listingPageContainer .columnsContainer .description {
  font-style: italic;
}
.listingPageContainer .columnsContainer .listingPrice {
  font-size: 1.6em;
  margin-bottom: 1em;
}
.listingPageContainer .commentSection {
  display: block;
  width: 70%;
  margin: auto;
  margin-bottom: 4.6em;
  background-color: #e7e7e7;
}
.listingPageContainer .commentSection .commentSection__title {
  margin-bottom: 0.6em;
}
.listingPageContainer .commentSection .comment {
  padding: 0.6em;
  background-color: #fdfdfd;
}
.listingPageContainer .commentSection .comment:not(:last-child) {
  margin-bottom: 0.4em;
}
.listingPageContainer .commentSection .comment__author {
  margin-bottom: 0.2em;
}
.listingPageContainer .commentSection .comment__content {
  margin: 0;
}
.listingPageContainer .commentSection .no_comments_yet {
  font-style: italic;
}
.listingPageContainer .commentSection .newComment {
  border-color: #999999;
  width: 100%;
}
.listingPageContainer .commentSection .postComment {
  margin-top: 0.4em;
  margin-left: 85%;
}

.createListingForm .buttonContainer {
  display: flex;
  justify-content: center;
}
.createListingForm .buttonContainer .btn {
  width: 20%;
  margin-bottom: 1.6em;
}

.categoriesPage .title {
  margin-bottom: 0.4em;
}
.categoriesPage .formChooseCategory {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .categoriesPage .formChooseCategory {
    flex-direction: column;
  }
}
.categoriesPage .formChooseCategory .custom-select {
  width: 60%;
  margin: 1em;
}

/*# sourceMappingURL=styles.css.map */
